body a div h1 p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrap {
    width: 1440px;
    margin: 0 auto;

}

.nav {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0px;
    height: 90px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}

.logo {
    position: absolute;
    left: 152px;
    margin-top: 25px;
    width: 120px;
    height: 40px;

}

.nav_bar {
    position: absolute;
    left: 48%;
    width: 30%;
    height: 100%;
    line-height: 24px;
    box-sizing: border-box;
    background-color: white;

}

.get {
    position: absolute;
    left: 78%;
    top: 25px;
    width: 172px;
    height: 40px;
    background: #222222;
    border-radius: 4px;

}

.logo img {
    width: 120px;
    height: 40px;
}

.nav_bar>ul>li {
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    padding: 16px 16px;
}

.nav_bar>ul>li>a:hover {
    border-bottom: 2px solid blue;
}

.get>span {

    position: absolute;
    width: 122px;
    height: 18px;
    left: calc(50% - 122px/2);
    top: calc(50% - 18px/2 - 1px);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;


    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

li a {

    color: black;

    display: block;

    width: 100%;

}

/*标题结束*/
.bnner {
    position: absolute;
    height: 444.47px;
    left: 9.44%;
    right: 9.44%;
    top: 190px;
    background-color: white
}

.bnnner {
    width: 1168px;
    height: 445px;
    margin: 190px 136px 100px 136px;
    padding: 0;
    background-color: aqua;
}

.left1 {
    position: relative;
    width: 420px;
    height: 354px;
    left: 6.68%;
    right: 57.36%;
    top: 45.23px;
    background-color: white;

}

.blogo {
    width: 192px;
    height: 64px;
}

.blogo img {
    position: absolute;
    width: 64px;
    height: 64px;
}

.posi {
    position: relative;
    left: 40.65%;
    right: 0%;
    top: 24.05%;
    bottom: 20.95%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.title1 {
    position: absolute;
    height: 119px;
    left: 0%;
    right: 4.76%;
    top: 74.77px;
    margin: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
}

.par1 {
    position: absolute;
    height: 72px;
    left: 0%;
    right: 6.19%;
    top: 211.77px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #222222;
}

.part1>a {
    color: black;

    display: block;

    width: 100%;
    text-decoration-line: none;
}

.download {

    position: absolute;
    height: 40px;
    left: 1.19%;
    right: 63.57%;
    top: 303.77px;

    background: #222222;
    border-radius: 4px;
}

.download>span {
    position: absolute;
    width: 98px;
    height: 18px;
    left: calc(50% - 98px/2);
    top: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;


    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.readmore {
    position: absolute;
    height: 40px;
    left: 38.81%;
    right: 26.67%;
    top: 303.77px;
    background: #222222;
    border-radius: 4px;

}

.readmore>span {
    position: absolute;
    width: 100px;
    height: 18px;
    left: calc(50% - 95px/2);
    top: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;


    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}


/*第一页左边栏完*/
.phone {
    position: absolute;
    height: 744.47px;
    left: 59.25%;
    right: 8.56%;
    top: 0px;
    background-color: white;
}

.pf {
    position: absolute;
    width: 376px;
    height: 548px;
    left: calc(50% - 376px/2);
    top: calc(50% - 548px/2 - 98.23px);


    background-image: url("images/phonef.png");
    background-size: cover;
    border-radius: 0px;
}

.bgp {
    position: relative;
    width: 321px;
    height: 695px;
    left: calc(50% - 321px/2 - 0.5px);
    top: calc(50% - 695px/2 + 0.27px);

    background: url("images/picc.jpg");
    background-size: 100%;
    border-radius: 10px;
}

.page1 {
    position: absolute;
    height: 1338px;
    left: 0%;
    right: 0%;
    top: 734px;

    background: #222222;
    border-radius: 0px;
}

.features {
    position: relative;
    width: 85px;
    height: 20px;
    left: calc(50% - 85px/2 + 0.5px);
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.par2 {
    position: absolute;
    width: 495px;
    height: 72px;
    left: calc(50% - 495px/2 + 0.5px);
    top: 125px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */

    text-align: center;

    color: #FFFFFF;
}

.box1 {
    position: absolute;
    width: 379px;
    height: 490px;
    left: 9.4%;
    right: 0%;
    top: 242px;

    background: #FFFFFF;
    border-radius: 20px;
}

.box2 {
    position: absolute;
    width: 379px;
    height: 490px;
    left: 36.8%;
    right: 0%;
    top: 242px;

    background: #FFFFFF;
    border-radius: 20px;
}

.box3 {
    position: absolute;
    width: 379px;
    height: 490px;
    left: 64.2%;
    right: 0%;
    top: 242px;

    background: #FFFFFF;
    border-radius: 20px;
}

.box4 {
    position: absolute;
    width: 379px;
    height: 490px;
    left: 9.4%;
    right: 0%;
    top: 768px;

    background: #FFFFFF;
    border-radius: 20px;
}

.box5 {
    position: absolute;
    width: 379px;
    height: 490px;
    left: 36.8%;
    right: 0%;
    top: 768px;

    background: #FFFFFF;
    border-radius: 20px;

}

.box6 {
    position: absolute;
    width: 379px;
    height: 490px;
    left: 64.2%;
    right: 0%;
    top: 768px;

    background: #FFFFFF;
    border-radius: 20px;
}
.b1{
    position: absolute;
width: 227px;
height: 450px;
left: calc(50% - 227px/2 + 0.17px);
top: calc(50% - 450px/2 - 0.38px);

background: url("images/b1.png");
border-radius: 0px;
background-size: cover;
}
.calendar
{
    position: absolute;
height: 197px;
left: 0%;
right: 0%;
top: 293px;

background: #F2F2F2;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 20px 20px;
}
.calicon
{
    position: absolute;
    width: 64px;
height: 64px;
left: 41%;
right: 0%;
top: 259px;

background: #0278ED;
}
.fa-calendar-days{
 font-size: 26px;
 color: white;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 position:relative;
 font-weight: 400;


}
.view{
    position: absolute;
width: 177px;
height: 30px;
left: calc(50% - 177px/2);
top: calc(50% - 30px/2 - 35.5px);
text-decoration: none;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */

text-align: center;

color: #0278ED;
}